div#block2 .first-p{
    color: #ee7606;
}

/* class */
.text-principal.story{
    color: blueviolet;
    font-size: 20px;
}

.success.story{
    color: #bd387a;
}

.title{
    color: rgb(230, 170, 19);
    background-color: #333;
}

.story{
    color: crimson;
}
/* id */
#block1{
    background-color: darkgrey;
    padding: 15px;
}

#block2{
    background-color: darkseagreen;
}

div#block2 #first-p{
    color: blue;
}

h2.first-h{
    color: #0c6b38 !important;
}

.title{
    color: rgb(39, 39, 39);
    background-color: rgb(233, 233, 233);
}